  .main-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
 
  
  .footer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-list li {
    margin-bottom: 5px;
  }
  
 .footer .form-control::placeholder {
  color: white;
  background-color: black;
}

.footer .form-control:focus::placeholder {
  opacity: 0.5;
}

#formWhite::placeholder {
  color: grey;  
}

#formWhite{
  background-color: black;
  color: white;
}

#general_footer{
  background-color: black;

}
 
#copyright_footer{
  background-color: black;
  border-top: 0.01mm outset rgba(100, 100, 100, 0.711);
}
#quickLinks{
  text-decoration: none;
  color:white;
  font-size:medium; 
}
#quickLinks:hover{
  text-decoration: underline;
  font-weight: bold;
}

#label{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}
